/* Файл: frontend/src/app/styles/_variables.scss */

:root {
  --bg-color: #f4f4f9;
  --surface-color: #ffffff;
  --primary-color: #5c6bc0; /* Индиго */
  --primary-color-light: #c5cae9;
  --primary-color-dark: #3949ab;
  --secondary-color: #424242; /* Темно-серый */
  --text-color: #212121;
  --text-color-secondary: #757575;
  --light-text-color: #ffffff;
  --border-color: #e0e0e0;
  --error-color: #d32f2f;
  --success-color: #388e3c;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  --shadow-hover: 0 6px 16px rgba(0, 0, 0, 0.12);
}